{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Home</title>
    <style>
        .bemvindo{
            margin-left: 20px;
            margin-top: 16px;
            margin-bottom: 60px;
        }
        .box{
            border: 1px solid #050000;
            border-radius: 5px;
            padding: 15px;
            margin: auto;
            background-color: #f9f9f9;
            height: 330px;
            width: 500px;
            text-align: center;
        }

    </style>
  </head>

  <body>
     <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Biblioteca</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'cadastrar_livro' %}">Cadastrar Livro</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'cadastrar_estudante' %}">Cadastrar Estudante</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'listar_livros' %}">Lista de Livros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'listar_estudantes' %}">Lista de Estudantes</a>
                </li>
            </ul>
        </div>
        </div>
    </nav>

<div class="bemvindo">
    <h1>Bem-vindo à Biblioteca!</h1>
</div>

<div class="box">
    <h3>Bem-vindo a biblioteca</h3>
    <p>Use a barra de navegação para acessar as diferentes funcionalidades. Sinta-se a vontade para cadastrar estudantes e livros, listar os já cadastrados, atualizar ou deletar informações.
    </p> 
    <p>Lembrete: ao tentar cadastrar um estudante, ele deverá possuir um livro associado, consulte ambas as listas disponíveis a fim de associar ao aluno o livro correto.
    </p>
    <p style="font-style: italic; color:#555;">A ideia é nunca perder a motivação para subir cada degrau rumo ao sucesso, por mais difícil que seja. E também não esquecer de agradecer pelas lições aprendidas em cada etapa da jornada.</p>
</div>